<main class="about mat-typography">
  <section class="hero">
    <div class="headshot"></div>
    <div class="intro">
      <h1 class="mat-display-3">About Me</h1>
      <p class="mat-subheading-2">I'm Alex Yijun Shi, a REALTOR&reg; with Sutton Premier Realty. I work hard to get you the best deal possible for your
        financial situation. My clients expect the absolute best and I deliver.</p>
      <img src="/assets/img/signature.png" alt="Alex Shi's signature" />
    </div>
  </section>

  <section class="companies">
    <div class="companies__description">
      <h2>I work with the best</h2>
      <p>I work with Sutton Premier Realty, Gerater Vancouver's only choice for premium realty.</p>
    </div>
    <div class="companies__logos">
        <img src="/assets/img/sutton-black.svg" alt="Sutton Premier Realty logo"/>
    </div>
  </section>

  <section class="areas">
    <div class="areas__description">
      <h2>Serving you in</h2>
      <p>I find valuable real estate properties in these cities.</p>
    </div>
    <div class="areas__logos">
      <img src="/assets/img/logo-burnaby-black.svg" alt="City of Burnaby logo"/>
      <img src="/assets/img/logo-surrey-black.svg" alt="City of Surrey logo"/>
      <img src="/assets/img/logo-vancouver-black.svg" alt="City of Vancouver logo"/>
      <img src="/assets/img/logo-newwestminster-black.svg" alt="City of New Westminister logo"/>
      <img src="/assets/img/logo-coquitlam-black.svg" alt="City of Coquitlam logo"/>
    </div>
  </section>

  <section class="sayhello">
    <div class="sayhello__form">
      <h2>Say Hello!</h2>
      <button mat-raised-button [routerLink]="['/contact']">Send me a message</button>
    </div>
  </section>

  <pre style="display: none;position: fixed;bottom:0;right: 0;font-size:xx-small;background:rgba(255,255,255,0.875);">
TODO: Turn this into a cool "about" page:
Interests
-Real Estate Trading
-Real Estate Investment
-Stock Investing
-Speed Skating
-Fitness

Skills
-Finding and valuing real estate investment opportunities
-Working with clients to find their perfect home
-Proficiency in World and PowerPoint
-Strong financial analysis and modelling skills
-Highly self-motivated and eager to learn
  </pre>
</main>