<header [ngClass]="isNavToggleOpen ? 'open' : ''">
  <div class="header__spacer"></div>
  <img id="title" src="/assets/img/logo3@501x333.png" alt="Alex Shi (施亦骏), Personal Real Estate Corporation" />
  <div class="header__spacer"></div>
  <button mat-button id="nav__toggle" (click)="toggleNav($event)">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <span class="lbl" [innerHtml]="isNavToggleOpen ? 'close' : 'menu' ">menu</span>
  </button>
  <nav id="main__nav">
    <a routerLink="/home" (click)="toggleNav($event)">Home</a>
    <a routerLink="/about" (click)="toggleNav($event)">About Alex</a>
    <a routerLink="/contact" (click)="toggleNav($event)">Contact Alex</a>
    <a routerLink="/investing" (click)="toggleNav($event)">Investing</a>
    <!-- <a routerLink="/blog" (click)="toggleNav($event)">Blog</a> -->
  </nav>
</header>
<router-outlet></router-outlet>
<footer>
  <section class="contact">
    <img src="assets/img/logo-white.svg" alt="Alex Shi, Personal Real Estate Corporation" />

    <p>
      Mobile:
      <br>
      <a href="tel:778-846-2539">778-846-2539</a>
    </p>
    <p>
      Email:
      <br>
      <a href="mailto:alexshirealestate@gmail.com">alexshirealestate@gmail.com</a>
    </p>
  </section>
  <section class="sutton">
    <img src="assets/img/sutton.svg" alt="Sutton Premier Realty's logo" width="80" />

    <div>
      <p>Sutton Premier Realty
        <br> Brokerage
      </p>
      <address>15483 104th Ave
        <br> Surrey, BC V3R 1N9</address>
    </div>
  </section>
  <section class="links">
    <p>Links:</p>
    <ul>
      <li>
        <a routerLink="home">Home</a>
      </li>
      <li>
        <a routerLink="about">About</a>
      </li>
      <li>
        <a routerLink="contact">Contact</a>
      </li>
      <li>
        <a routerLink="#investing">Investing</a>
      </li>
      <li>
        <a routerLink="#blog">Blog</a>
      </li>
    </ul>
  </section>
  <section class="copy">
    <span>&copy; {{currentYear}} Alex Yijun Shi, Realtor &reg;.</span>
    <br>
    <span>
      <a href="http://wp.alexshi.ca/wp-login.php">Admin Login</a>
    </span>
  </section>
</footer>
