.businessCard {
    display: grid;
    grid-template-columns: 60fr 40fr;
    grid-template-rows: 1fr;
    background-color: white;
    margin: 3.2%;
    border: 8px double #e7ebee;
}

.sutton {
    height: 17%;
}

.redline {
    position: relative;
    height: 3.2%;
    background-color: red;
}