<section class="businessCard">
  <img class="sutton" src="/assets/img/sutton-black.svg" alt="Sutton Premier Realty logo" />
  <div class="redline"></div>
  <div class="info">
    <span class="spr"><em>SUTTON</em> PREMIER REALTY</span>
    <span class="imr">AN INDEPENDANT MEMBER REALTOR</span>
    <div class="adr">
      <address>
        <span>104th Avenue<br>Surrey, B.C. Canada V3R 1N9</span>
      </address>
      <br><br>
      <span class="pof"><em>OFFICE</em>604.581.8400</span>
      <span class="pof"><em>OFFICE</em>604.581.8400</span>
      <span class="pof"><em>OFFICE</em>604.581.8400</span>
      <a class="website" href="http://www.alexshi.ca">www.alexshi.ca</a>
    </div>
    <div class="portrait"><img src="" alt="Alex Shi" /></div>
    <span class="name">Alex Shi 施亦骏</span>
    <span class="cell"><em>Cell</em>778.846.2539</span>
  </div>

</section>
